*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#050505;
color:#fff;
}

header{
position:fixed;
top:0;
left:0;
width:100%;
padding:18px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.75);
backdrop-filter:blur(12px);
z-index:1000;
}

.logo{
font-size:30px;
font-weight:700;
color:#f4a300;
}

nav a{
color:#fff;
text-decoration:none;
margin-left:25px;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#f4a300;
}

.hero{
height:100vh;
background:url("parking1.jpg") center center/cover no-repeat;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
}

.hero::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.65);
}

.overlay{
position:relative;
z-index:2;
padding:20px;
}

.overlay h1{
font-size:65px;
color:#f4a300;
margin-bottom:20px;
}

.overlay p{
font-size:22px;
margin-bottom:35px;
color:#ddd;
}

.btn{
display:inline-block;
padding:15px 40px;
background:#f4a300;
color:#111;
text-decoration:none;
border-radius:50px;
font-weight:bold;
transition:.3s;
}

.btn:hover{
background:#fff;
transform:translateY(-4px);
}

section{
padding:100px 8%;
}

h2{
font-size:42px;
color:#f4a300;
text-align:center;
margin-bottom:40px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:#161616;
padding:30px;
border-radius:18px;
text-align:center;
transition:.4s;
border:1px solid rgba(255,255,255,.08);
}

.card:hover{
transform:translateY(-10px);
border-color:#f4a300;
box-shadow:0 0 30px rgba(244,163,0,.35);
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
}

.gallery img{
width:100%;
height:220px;
object-fit:cover;
border-radius:18px;
border:3px solid #f4a300;
transition:.4s;
}

.gallery img:hover{
transform:scale(1.05);
}

footer{
background:#111;
padding:30px;
text-align:center;
margin-top:60px;
color:#aaa;
}

@media(max-width:768px){

header{
padding:15px 20px;
flex-direction:column;
}

.logo{
margin-bottom:10px;
font-size:24px;
}

nav{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

nav a{
margin:8px;
}

.overlay h1{
font-size:40px;
}

.overlay p{
font-size:18px;
}

.hero{
height:90vh;
}

}
.whatsapp{
position:fixed;
right:20px;
bottom:20px;
width:65px;
height:65px;
background:#25D366;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:32px;
text-decoration:none;
color:white;
box-shadow:0 0 20px rgba(0,0,0,.4);
z-index:999;
transition:.3s;
}

.whatsapp:hover{
transform:scale(1.1);
}

iframe{
margin-top:30px;
}
.hidden{
opacity:0;
transform:translateY(60px);
transition:all .8s ease;
}

.show{
opacity:1;
transform:translateY(0);
}
